header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    position: fixed;
    top: 0;
}

header .logo-cont {
    height: 60px;
    width: 110px;
}

header .logo-cont img {
    height: 100%;
    filter: brightness(110%);
    width: 100%;
}

header ul {
    display: flex;
    gap: 25px;
    list-style: none;
}
header  a{
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
}
header .loginlogoutBtns{
    padding: 8px 15px;
    border: none;
    color: #fff;
    background-color: red;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 700;
    margin-right: 10px;
}
header .loginlogoutBtns:hover{
    background-color: rgb(249, 66, 66);
}
header #loginBtn{
    background-color: blue;
}
header #loginBtn:hover{
    background-color: rgb(68, 68, 255);
}