.investments-main{
    padding-top: 100px;
}
.investments{
    background-color: aliceblue;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}
.investments>h1{
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline;
}
.inv-cat {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 20px;
}

.inv-cat select {
    width: 140px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 0.8rem;
    background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width:590px) {
  .inv-cat {
        gap: 5px;
        flex-direction: column;
    }
    .expense-cont .expense-box {
        width: 100%;
    }
}
@media (max-width:420px) {
    .investments {
        width: 96%;
        padding: 20px 10px;
    }
    .expense-box .flex-box h4{
        font-size: 0.85rem;
    }
    .expense-cont .expense-box {
       min-width: 250px;
    }
}